﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CRN!</h1>
    <p class="lead">@System.Configuration.ConfigurationManager.AppSettings["message"]</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">OPEN ACCOUNT   &raquo;</a></p>
</div>

